.footer
{
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron
{
	background: #9575CD;
	color: floralwhite;
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
}

.navbar-dark{
	background: #512DA8;
}

.map-container{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}